@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinetgrotesk/cabinetgrotesk-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-gray-100;
    @apply dark:bg-gray-950;
  }
}
