@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('/fonts/cabinetgrotesk/cabinetgrotesk-Variable.ttf') format('truetype');
    font-weight: 100 900; /* Variable font weight from 100 (thin) to 900 (bold) */
    font-style: normal;
  }